<link href="/static/output.css" rel="stylesheet"/>

{% include 'header.jinja2' %}


{% with about=locale.about %}
    {% include 'about.jinja2' %}
{% endwith %}


{% with portfolio=locale.portfolio %}
    {% include 'portfolio.jinja2' %}
{% endwith %}


{% with education=locale.education %}
    {% include 'education.jinja2' %}
{% endwith %}


{% with contact=locale.contact %}
    {% include 'contact.jinja2' %}
{% endwith %}


<script src="https://cdn.jsdelivr.net/npm/tailgrids@2.2.2/plugin.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>