<!-- ====== Services Section Start -->
<section class="pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] ">
    <anchor id="{{ anchor }}" class="anchor-10"></anchor>
    <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
                <div class="mx-auto mb-[60px] max-w-[510px] text-center">
               <span class="block mb-2 text-lg font-semibold text-primary">
               {{ about.sub_title }}
               </span>
                    <h2
                            class="text-dark mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]"
                    >
                        {{ about.title }}
                    </h2>
                    <p class="text-base text-body-color ">
                        {{ about.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center -mx-4">
            {% for skill in about.list_skill %}
                <div class="w-full px-4 sm:w-4/5 md:w-1/2 lg:w-1/3">
                    <div
                            class="group relative mb-8 rounded-xl border border-stroke bg-white p-10 text-center md:px-8 lg:py-9 lg:px-6 xl:py-[45px] xl:px-[43px]"
                    >
                        <div
                                class="relative z-10 inline-flex items-center mx-auto mb-10 h-11"
                        >
                  <span
                          class="bg-primary absolute -right-3 top-0 z-[-1] h-[34px] w-[34px] rounded-full opacity-10"
                  ></span>

                            <img
                                    src="{{ url_for('static', path=skill.image) }}"
                                    alt="{{ skill.name }}'s logo"
                                    class="h-11"
                            />
                        </div>
                        <h4
                                class="text-dark mb-[14px] text-2xl font-bold"
                        >
                            {{ skill.title }}
                        </h4>
                        <p class="text-body-color text-justify">
                            {{ skill.description }}
                        </p>

                        <span class="bg-primary absolute -bottom-2 left-0 right-0 z-[-1] mx-auto h-12 w-3/4 opacity-0 blur-[12px] transition group-hover:opacity-[14%]"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ====== Services Section End -->