{% set response = {
    'color': '#3af03a',
    'status_code': 200,
    'title': "Your message has been sent",
    'message': "This page indicates that your message is working, you'll be redirected to the main page in a few seconds"
} %}

{% include 'response.jinja2' with context %}
