{% set response = {
    'color': '#f93737',
    'status_code': 500,
    'title': "Sorry, there was an error",
    'message': "An error occurred while processing your request. Please try again later."
} %}

{% include 'response.jinja2' with context %}
